<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Calculate your Electricity <strong>Consumption</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          
          <!--Televisions-->
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="televisions-number">
                  <i class="fa fa-television" aria-hidden="true"></i>
                  Televisions
              </label>
              <div class="col-md-4">
                <input type="text" name="televisions-number" class="form-control" placeholder="Number of Televisions">
              </div>
                       
              <label class="col-md-2 col-form-label" for="televisions-hours">Daily usage</label>
              <div class="col-md-4">
                <input type="text" name="televisions-hours" class="form-control" placeholder="hours/day">
              </div>
            </div>
          <!--/Televisions-->

          <!--Fridges-->
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="fridges-number">
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                Fridges
            </label>
            <div class="col-md-4">
              <input type="text" name="fridges-number" class="form-control" placeholder="Number of Fridges">
            </div>
            
            <label class="col-md-2 col-form-label" for="fridges-hours">Daily usage</label>
            <div class="col-md-4">
              <input type="text" name="fridges-hours" class="form-control" placeholder="hours/day">
            </div>
          </div>
          <!--/Fridges-->


          </form>
        </div><!--.card-body-->
      </div><!--/.card-->
    </div> <!--/.col-->
  </div><!--/.row-->
</div>