<div class="container">
  <h4>Add a Panel</h4>

  <!--Form-->

  <form (ngSubmit)="addPanel()" #f="ngForm">
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <input
        type="text"
        id="manufacturer"
        name="manufacturer"
        class="form-control"
        required
        ngModel
        #manufacturer
      />
    </div>

    <div class="form-group">
      <label for="capacity">Capacity</label>
      <input
        type="number"
        id="capacity"
        name="capacity"
        class="form-control"
        required
        ngModel
        #capacity
      />
      <span class="help-block" *ngIf="capacity.value > 1000"
        >Capacity should be between 0 and 1000 kW</span
      >
    </div>

    <div class="form-group">
      <label for="capacity">Azimuth</label>
      <input
        type="number"
        id="azimuth"
        name="azimuth"
        class="form-control"
        required
        ngModel
        #azimuth
      />
      <span class="help-block" *ngIf="azimuth.value > 359"
        >Azimuth should be between 0 and 360°</span
      >
    </div>

    <div class="form-group">
      <label for="tilt">Tilt</label>
      <input
        type="number"
        id="tilt"
        name="tilt"
        class="form-control"
        required
        ngModel
        #tilt
      />
      <span class="help-block" *ngIf="tilt.value > 180"
        >Azimuth should be between 0 and 180°</span
      >
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
    <button class="btn btn-danger" (click)="closeModal()">
      Cancel
    </button>
  </form>

  <!--/Form-->
</div>
