<div class="example-container">
  <h4>Add a Panel</h4>

  <!--Form-->

  <form [formGroup]="addPanelForm" novalidate>
    <mat-form-field>
      <input matInput placeholder="Manufacturer" #manufacturer />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cells Number" #cellsNumber />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Tilt" #tilt />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Azimuth" #azimuth />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Capacity" #capacity />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Installation Date"
        #installationDate
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="
          addPanel(
            manufacturer.value,
            cellsNumber.value,
            installationDate.value,
            tilt.value,
            azimuth.value,
            capacity.value
          )
        "
      >
        Confirm
      </button>
      <button class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
    </div>
  </form>

  <!--/Form-->
</div>
