.app-body {
  background-image: url("../../../assets/img/register-background.jpg");
}

.card-group {
  opacity: 0.9;
}

#signup {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  border-color: transparent;
}

#register-button {
  color: white;
  background-color: transparent;
  border-color: white;
}

#register-button:hover {
  color: #130f40;
  background-color: white;
}

#login-button:hover {
  color: white;
  background-color: #130f40;
  border-color: white;
}

#login-button {
  color: #130f40;
  background-color: white;
  border-color: #130f40;
}

#forgot {
  color: #130f40;
}
