canvas {
  margin-top: 2em;
}

.alert-message {
  color: goldenrod;
}

.alert-image {
  padding-top: 5em;
  padding-bottom: 3em;
}

.content {
  text-align: center;
}

mat-card {
  margin-bottom: 2em;
}
