<div class="container">
  <h4>Edit an Appliance</h4>

  <!--Form-->

  <form (ngSubmit)="updateGadget()" #f="ngForm">
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <input
        type="text"
        id="manufacturer"
        name="manufacturer"
        class="form-control"
        required
        ngModel
        placeholder="{{ gadget.manufacturer }}"
        #manufacturer
      />
    </div>

    <div class="form-group">
      <label for="power">Power</label>
      <input
        type="number"
        id="power"
        name="power"
        class="form-control"
        required
        ngModel
        placeholder="{{ gadget.power }}"
        #power
      />
      <span class="help-block" *ngIf="power.value > 180"
        >Power should be between 0 and 180°</span
      >
    </div>

    <div class="form-group">
      <label for="amperage">amperage</label>
      <input
        type="number"
        id="amperage"
        name="amperage"
        class="form-control"
        required
        ngModel
        placeholder="{{ gadget.amperage }}"
        #amperage
      />
      <span class="help-block" *ngIf="amperage.value > 200"
        >Very big amperage value</span
      >
    </div>

    <div class="form-group">
      <label for="voltage">Voltage</label>
      <input
        type="number"
        id="voltage"
        name="voltage"
        class="form-control"
        required
        ngModel
        placeholder="{{ gadget.voltage }}"
        #voltage
      />
      <span class="help-block" *ngIf="voltage.value > 180"
        >Very big voltage value</span
      >
    </div>

    <div class="form-group">
      <label>Type</label>
      <ng-select
        [items]="types"
        placeholder="{{ gadget.type }}"
        [(ngModel)]="selectedType"
        name="type"
      >
      </ng-select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
    <button class="btn btn-danger" (click)="closeModal()">
      Cancel
    </button>
  </form>
  <!--/Form-->
</div>
