<mat-card>
  <table class="table table-striped table-responsive-md btn-table">
    <thead>
      <tr>
        <th>Manifacturer</th>
        <th>Installed on</th>
        <th>Tilt</th>
        <th>Azimuth</th>
        <th>Capacity</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let panel of panels">
        <td>{{ panel.manufacturer }}</td>
        <td>{{ panel.installationDate | date: "fullDate" }}</td>
        <td>{{ panel.tilt }}</td>
        <td>{{ panel.azimuth }}</td>
        <td>{{ panel.capacity }}</td>
        <td>
          <mat-slide-toggle
            [checked]="panel.state"
            (toggleChange)="changeState(panel)"
            #toggleState
          ></mat-slide-toggle>
        </td>
        <td>
          <mat-chip-list>
            <mat-chip (click)="openEditPanel(panel)"
              ><i class="material-icons panel-icons">edit</i></mat-chip
            >
            <mat-chip (click)="deletePanel(panel._id)"
              ><i class="material-icons panel-icons">remove</i></mat-chip
            >
          </mat-chip-list>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-cards row">
    <div class="button-add">
      <button class="add-button" mat-raised-button (click)="openAddPanel()">
        <i class="material-icons">add_circle</i>
      </button>
    </div>

    <div class="crad-total">
      <mat-card class="total-card">
        <h4>Total: {{ total }} kwh</h4>
      </mat-card>
    </div>
  </div>
</mat-card>
