.app-body {
  background-image: url("../../../assets/img/register-background.jpg");
}

.card {
  opacity: 0.95;
}

.card-footer {
  opacity: 0.95;
}

mat-checkbox {
  padding-top: 1em;
}
